$outer-padding: 6px;
$outer-circle: 50px;
$outer-cylinder: 15px;
$cylinder-height: 50px;

body {
    background-color: black;
    color: white;
}

.thermo-container {
    width: $outer-circle;
}

.outer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
}

.thermo-inner-circle {
    width: calc(#{$outer-circle} - #{$outer-padding});
    height: calc(#{$outer-circle} - #{$outer-padding});
    border-radius: 50%;
}

.thermo-outer-circle {
    @extend .outer;

    width: $outer-circle;
    height: $outer-circle;
    border-radius: 50%;
    align-items: center;
}

.thermo-cylinder-container {
    position: relative;
    width: $outer-circle;
    height: $cylinder-height;
}

.thermo-outer-cylinder {
    @extend .outer;

    position: absolute;
    width: $outer-cylinder;
    height: $cylinder-height;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: -3px;
    border-top-right-radius: calc(#{$outer-cylinder} / 2);
    border-top-left-radius: calc(#{$outer-cylinder} / 2);
    align-items: flex-end;
    border-bottom: unset;
}

.thermo-inner-cylinder {
    width: calc(#{$outer-cylinder} - #{$outer-padding});
    position: absolute;
    bottom: -2px;
}

.water-wave {
    @extend .rainbow;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.rainbow{
    animation: rainbow-bg 4s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}